@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --top-position: 0;
  --left-position: 0;
  --font-txt-bg: 5rem;
}
button {
  color: red;
  border: 1px solid blue;
  padding: 3px;
}
button:hover {
  text-decoration: underline;
  background-color: yellow;
}
